<launch>
  <rosparam param="/use_sim_time">false</rosparam>

  <node name="canny_devo_node_slam" pkg="canny_devo" type="canny_devo_node_slam" args="$(find canny_devo)/cfg/system_mpl_vector.yaml" output="screen" >
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find canny_devo)/cfg/system.perspective"></node>

</launch>
