<launch>
  <rosparam param="/use_sim_time">false</rosparam>

  <node name="Canny_EVT_node_slam" pkg="canny_evt" type="Canny_EVT_node_slam" args="$(find canny_evt)/cfg/system_mpl_vector.yaml" output="screen" >
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find canny_evt)/cfg/system.perspective"></node>

</launch>
